mtasks.jdbc.driver=org.sqlite.JDBC
mtasks.jdbc.url1=jdbc:sqlite:C:/Users/pati/Desktop/UNIV/SEM4/MPP/SQLite/Festival/Festival.db

mtasks.jdbc.url=jdbc:sqlite:C:/Users/pati/Desktop/UNIV/SEM4/MPP/SQLite/Festival/Festival.db

tasks.jdbc.driver=org.sqlite.JDBC
tasks.jdbc.url=jdbc:sqlite:C:/Users/pati/Desktop/UNIV/SEM4/MPP/SQLite/Festival/Festival.db
tasks.jdbc.user=test
tasks.jdbc.pass=passtest